In [1]:
import requests
from datetime import datetime as dt
import json
import pandas as pd

In [2]:
base_url = 'http://api.openweathermap.org/data/2.5/weather?'

In [3]:
api_key = '2e37b4ee2ba8d12d1bdd1abe89b63b78'

In [4]:
lat= "-22.936015"
lon = "-43.176353"
lang = 'pt_br'
units = 'metric'

In [5]:
complete_url = base_url + "lat=" + lat + "&lon=" + lon + "&appid=" + api_key + "&lang=" + lang + "&units=" + units

In [6]:
response = requests.get(complete_url)

In [7]:
x = response.json()
x

{'coord': {'lon': -43.1764, 'lat': -22.936},
 'weather': [{'id': 804,
   'main': 'Clouds',
   'description': 'nublado',
   'icon': '04n'}],
 'base': 'stations',
 'main': {'temp': 24.87,
  'feels_like': 25.84,
  'temp_min': 24.87,
  'temp_max': 26.53,
  'pressure': 1014,
  'humidity': 93},
 'visibility': 10000,
 'wind': {'speed': 3.09, 'deg': 30},
 'clouds': {'all': 100},
 'dt': 1700792175,
 'sys': {'type': 1,
  'id': 8429,
  'country': 'BR',
  'sunrise': 1700726357,
  'sunset': 1700774348},
 'timezone': -10800,
 'id': 3473664,
 'name': 'Copacabana',
 'cod': 200}

In [8]:
data = {}
for key, value in x.items():
    if isinstance(value, dict):
        for sub_key, sub_value in value.items():
            col_name = f"{key}_{sub_key}"
            data[col_name] = [sub_value]
    else:
        data[key] = [value]

df = pd.DataFrame(data)

In [9]:
# Convertendo a lista de 'weather' em colunas separadas
weather_data = df['weather'].apply(pd.Series)
weather_data.columns = [f"Weather_{col}" for col in weather_data.columns]

# Concatenando as novas colunas 'weather' ao DataFrame principal e removendo a coluna original 'weather'
df = pd.concat([df, weather_data], axis=1)
df.drop(columns=['weather'], inplace=True)

# Convertendo a coluna 'Weather_0' em colunas separadas
weather_info = df['Weather_0'].apply(pd.Series)
weather_info.columns = [f"Weather_0_{col}" for col in weather_info.columns]

# Concatenando as novas colunas ao DataFrame principal e removendo a coluna original 'Weather_0'
df = pd.concat([df, weather_info], axis=1)
df.drop(columns=['Weather_0'], inplace=True)

df

,coord_lon,coord_lat,base,main_temp,main_feels_like,main_temp_min,main_temp_max,main_pressure,main_humidity,visibility,...,sys_sunrise,sys_sunset,timezone,id,name,cod,Weather_0_id,Weather_0_main,Weather_0_description,Weather_0_icon
0,-43.1764,-22.936,stations,24.87,25.84,24.87,26.53,1014,93,10000,...,1700726357,1700774348,-10800,3473664,Copacabana,200,804,Clouds,nublado,04n